@import "tailwindcss";

:root {
  --background: #E0A97A;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

  :root.dark {
    --background: #241571;
    --foreground: #ededed;
  }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.9s ease-in-out, color 0.9s ease;
}

@theme {
  --animate-icon-in: icon-in 0.5s ease-out;
  --animate-time-in: time-in 1s ease-out;
  --animate-text-focus-in: text-focus-in 1s ease-in-out;
}

@keyframes icon-in {
  from {
    transform: rotate(-90deg) scale(1);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes time-in {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
